@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
*{
    padding : 0 ;
    margin : 0 ;
    font-family: 'Quicksand', sans-serif;
}
body{
    overflow: hidden; 
    background:linear-gradient(140deg,#FFC8DD,#d2a0b3);
}
  nav{
    background : linear-gradient(160deg,#FFAFCC,#ec6496da);;

    border-right: 1 px solid rgba(0, 0, 0, 0.803);
    left : 0;
    top : 0 ;
    border-radius : 0px 20px 0px 0px;
    width: 275px;
    height: 100%;
}
nav ul{
    position : absolute; 
    text-decoration: none;
    margin-top : auto;
    margin-top : 40px;
    
    
}
nav ul li{
    position: relative;
    list-style: none;
    width: 100%;
    margin-top: 20px ;
    padding: 5px  10px;
    font-size: 24px;
}
 nav ul li a {
    position: relative;
    width:100%;
    text-align: center;
    text-decoration: none;
    color:white;
    
} 
#img{
    width: 180px;
    height: 180px;
    border-radius:180px 180px 180px 180px ;
}
#img2{
    width: 110px;
    height: 110px;
    border-radius:180px 180px 180px 180px ;
    margin: -26px 600px 0px 0px ;
    filter: blur(5px);

   
}

.frstmatch {
    
    position:absolute;  
    left: 400px; 
    top : 65px; 
    background-color: rgba(211, 211, 211, 0.6);
    border-bottom-right-radius: 50px;
    width: 60%;
    height: 22%;
    padding: 58px; 
}
div span{
   position : absolute;
    right : 570px;
    bottom: 56px;
    font-size: 35px;
}
#imgicon{
    
    position : absolute;
    width: 100px;
    height: 100px;
    margin-top: -25px ;
    left : 400px;
    
   
}
#matching{
    font-weight: bold;
    position : absolute;
     right :100px;
     bottom: 80px;
     font-size: 30px;
 }



 #btn{
    position: absolute;
    background-color:#FFAFCC;
    
    text-align: center;
    right:115px;
    top :100px;
    border-radius:35px ;
    width: 120px;
    height: 35px;
}
.scndmatch {
    
    position: relative;
    left: 400px; 
    bottom : 450px; 
    background-color: rgba(211, 211, 211, 0.6);
    border-bottom-right-radius: 50px;
    width: 60%;
    height: 22%;
    padding: 58px; 
}

.thrdmatch {
    
    position: relative;
    left: 400px; 
    bottom : 385px; 
    background-color: rgba(211, 211, 211, 0.6);
    border-bottom-right-radius: 50px;
    width: 60%;
    height: 22%;
    padding: 58px; 
}
#imgiconno{
    
    position : absolute;
    width: 90px;
    height: 90px;
    margin-top: -25px ;
    left : 410px;
}
#disabledbtn{
    position: absolute;
    background-color:#a7aaa8;
    
    text-align: center;
    right:115px;
    top :100px;
    border-radius:35px ;
    width: 120px;
    height: 35px;
}

footer {
    position: absolute;
    
    bottom: 0;
    width: 100%;
    padding-bottom: 0px;
    border-radius: 25px 25px 0px 0px;
    
   
 }
