@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Quicksand', sans-serif;

}

body {
   height: 100vh;
   width: 100%;
   background-position: center;
   background-size: cover;
   box-sizing: border-box;
   position: relative   ;
   background: linear-gradient(160deg, #FFAFCC, #BDE0FE);

}

header .logo {
   margin: 30px 0px 0px 30px;
   width: 70px;
   cursor: pointer;

}

header .nav-bar {
   width: 100%;
   height: 15vh;
   margin: auto;
   display: flex;
   align-items: center;

}

header nav {
   flex: 1;
   padding-left: 60px;
   margin-left: 870px;


}

header nav ul li {
   display: inline;
   list-style: none;
   margin: 0px 20px;

}

header nav ul li a {
   text-decoration: none;
   color: black;
}

header .Home {
   color: white;

}

header .Home:hover {
   color: black;
   text-decoration: none;
   text-shadow: 5px 5px 4px #000000;

}

header .rest-menu {
   background-color: rgb(255, 255, 255, 0.5);
   border-radius: 20px 20px;
   padding: 12px;

}

header nav ul li a:hover {
   color: white;
   text-decoration: underline;
}

fieldset {

   margin: 30px;
   padding: 30px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.788);

}

section form {
   background-color: rgba(255, 255, 255, 0.26);
   margin: 70px 40px;
   padding: 10px 80px;



}

label {
   font-weight: 400;

}

input,
select {
   width: 175px;
   border: 1px solid;
   border-radius: 5px;
   outline: none;
   opacity: 0.75;
}

textarea {
   width: 275px;
   border: 0;
   border-radius: 5px;
   outline: none;
   opacity: calc(0.75);
}

/*
table td{
   border: 1px rgba(0, 0, 0, 0.082);
   border-style: outset;
}*/
button {
   cursor: pointer;
   width: 120px;
   margin: 25px 40px 25px 20px;
   padding: 10px;
   background-color: rgba(255, 255, 255, 0.336);
   border-radius: 20px 20px;
   font-weight: 400;
   font-size: 20px;

}

input:focus,
textarea:focus,
select:focus {
   box-shadow: 2px 2px 5px #555;
   background-color: #BDE0FE;

}

td button:hover {
   background-color: rgba(127, 255, 212, 0.349);
   letter-spacing: 1px;
   font-weight: bold;
   box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.623), 0 6px 20px 0 rgba(209, 14, 14, 0.514);

}

footer {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: auto;
   width: 100%;
   padding-top: 10px;border-radius: 25px 25px 0px 0px;
}

